{{define "admin_base.html"}}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{block "title" .}}Admin{{end}}</title>
  <link rel="icon" href="/static/favicon.ico">
  <meta name="theme-color" content="#121113" />
  <link rel="stylesheet" href="/assets/darkmatter.css">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header class="header">
    <a href="/admin" class="logo">POSTS</a>
    <nav class="links">
      <a href="/admin">posts</a>
      <a href="/admin/pages">pages</a>
      <a href="/admin/files">files</a>
      <a href="/admin/import">import</a>
      <a href="/admin/settings">settings</a>
      <a href="/" target="_blank">view site</a>
      <a href="/admin/logout">logout</a>
    </nav>
  </header>
  <main>
    {{block "content" .}}{{end}}
  </main>
</body>
</html>{{end}}
