<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ blog_title }}{% endblock %}</title>
  {% if !favicon_url.is_empty() %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ favicon_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ favicon_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ favicon_url }}">
  {% else %}
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
  {% endif %}
  <meta name="theme-color" content="#121113" />
  {% block meta %}{% endblock %}
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="stylesheet" href="/custom-styles.css">
</head>
<body>
  <header class="header">
    <a href="/" class="logo">{{ blog_title }}</a>
    <nav class="links">
      {% for link in nav_links %}
        <a href="{{ link.url }}">{{ link.label }}</a>
      {% endfor %}
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer class="footer">
    <a href="/feed.xml" class="rss-link" title="RSS Feed">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
        <path fill="currentColor" d="M104.08 151.92A67.52 67.52 0 0 1 124 200a4 4 0 0 1-8 0a60 60 0 0 0-60-60a4 4 0 0 1 0-8a67.52 67.52 0 0 1 48.08 19.92M56 84a4 4 0 0 0 0 8a108 108 0 0 1 108 108a4 4 0 0 0 8 0A116 116 0 0 0 56 84m116 0A162.92 162.92 0 0 0 56 36a4 4 0 0 0 0 8a155 155 0 0 1 110.31 45.69A155 155 0 0 1 212 200a4 4 0 0 0 8 0a162.92 162.92 0 0 0-48-116M60 188a8 8 0 1 0 8 8a8 8 0 0 0-8-8"/>
      </svg>
    </a>
  </footer>
</body>
</html>
