<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ blog_title }}{% endblock %}</title>
  <link rel="icon" href="/static/favicons/favicon.ico">
  <meta name="theme-color" content="#121113" />
  {% block meta %}{% endblock %}
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header class="header">
    <a href="/" class="logo">{{ blog_title }}</a>
    <nav class="links">
      <a href="/">blog</a>
      {% for page in nav_pages %}
        <a href="/pages/{{ page.slug }}">{{ page.title }}</a>
      {% endfor %}
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
