{{define "post.html"}}{{template "base.html" .}}{{end}}
{{define "title"}}{{.Post.DisplayTitle}} — {{.BlogTitle}}{{end}}
{{define "meta"}}
  {{if .Post.MetaDescription}}
    <meta name="description" content="{{.Post.MetaDescriptionStr}}">
    <meta property="og:description" content="{{.Post.MetaDescriptionStr}}">
  {{end}}
  {{if and .Post.MetaImage .Post.MetaImageStr}}
    <meta property="og:image" content="{{.Post.MetaImageStr}}">
  {{else if .OGImageURL}}
    <meta property="og:image" content="{{.OGImageURL}}">
  {{else}}
    <meta property="og:image" content="{{.SiteURL}}/static/og.png">
  {{end}}
  {{if .Post.CanonicalURL}}
    <link rel="canonical" href="{{.Post.CanonicalURLStr}}">
  {{end}}
  <meta property="og:title" content="{{.Post.DisplayTitle}}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{.SiteURL}}/posts/{{.Post.Slug}}">
  <meta property="article:published_time" content="{{.Post.PublishedDateStr}}">
{{end}}
{{define "content"}}
  <div class="post-header">
    {{if .Post.HasTitle}}
      <h1>{{.Post.TitleStr}}</h1>
    {{end}}
    {{if .Post.MetaDescription}}
      <p class="post-description">{{.Post.MetaDescriptionStr}}</p>
    {{end}}
    <div class="post-weather">
    {{if .Post.PublishedDate}}
      <span>
      <time class="post-date">{{.Post.PublishedDateStr}}</time>
      </span>
      <span>•</span>
    {{end}}
    {{if .Post.Weather}}
      {{.Weather.Icon}}
      <p class="weather-conditions">{{.Weather.Conditions}}</p>
      <p class="weather-temp">{{.Weather.Temperature}}</p>
      •
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><!-- Icon from Phosphor by Phosphor Icons - https://github.com/phosphor-icons/core/blob/main/LICENSE --><path fill="currentColor" d="M128 68a36 36 0 1 0 36 36a36 36 0 0 0-36-36m0 64a28 28 0 1 1 28-28a28 28 0 0 1-28 28m0-112a84.09 84.09 0 0 0-84 84c0 30.42 14.17 62.79 41 93.62a250 250 0 0 0 40.73 37.66a4 4 0 0 0 4.58 0A250 250 0 0 0 171 197.62c26.81-30.83 41-63.2 41-93.62a84.09 84.09 0 0 0-84-84m37.1 172.23A254.6 254.6 0 0 1 128 227a254.6 254.6 0 0 1-37.1-34.81C73.15 171.8 52 139.9 52 104a76 76 0 0 1 152 0c0 35.9-21.15 67.8-38.9 88.23"/></svg>
      <p class="weather-location">{{.Weather.Location}}</p>
    {{end}}
    </div>
    {{if .Post.Tags}}
      <div class="post-tags">
        {{range .Post.TagList}}
          <span class="tag">{{.}}</span>
        {{end}}
      </div>
    {{end}}
  </div>
  <article class="markdown-body">
    {{.RenderedContent}}
  </article>
{{end}}
