<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#121113" />
  <title>{% block title %}Parcels{% endblock %}</title>
  <link rel="stylesheet" href="/assets/darkmatter.css">
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="icon" href="/static/favicon.ico">
  <meta property="og:title" content="PARCELS">
  <meta property="og:image" content="/static/og.png">
  <meta property="og:type" content="website">
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
