<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#121113" />
    <link rel="stylesheet" href="/assets/darkmatter.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>Habbits | Login</title>
  </head>
  <body>
    <div class="header">
      <a href="/" class="logo">HABBITS</a>
    </div>
    {{if .Error}}<p class="error">{{.Error}}</p>{{end}}
    <form class="form" method="POST" action="/login">
      <div class="form-field">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required autofocus />
      </div>
      <div class="form-actions">
        <button type="submit">Login</button>
      </div>
    </form>
  </body>
</html>
