SIPP_API_KEY=your-secret-key
SIPP_AUTH_ENDPOINTS=api_delete,api_list,api_update
SIPP_DB_PATH=sipp.sqlite
SIPP_MAX_CONTENT_SIZE=512000
SIPP_REMOTE_URL=http://your-server.com
BASE_URL=http://localhost:3000
HOST=127.0.0.1
PORT=3000
