<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#121113" />
    <link rel="stylesheet" href="/assets/darkmatter.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">

    <title>Sipp</title>
    <meta name="description" content="Minimal Code Sharing">

    <meta property="og:url" content="{{ base_url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Sipps">
    <meta property="og:description" content="Minimal Code Sharing">
    <meta property="og:image" content="{{ base_url }}/static/og.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ base_url }}">
    <meta name="twitter:title" content="Sipps">
    <meta name="twitter:description" content="Minimal Code Sharing">
    <meta name="twitter:image" content="{{ base_url }}/static/og.png">
  </head>
  <body>

    <div class="header">
      <a href="/" class="logo"><h1>SIPP</h1></a>
      <nav class="links">
        <a href="/admin">admin</a>
      </nav>
    </div>


    <form id="snippetForm" method="POST" action="/snippets">
      <div>
        <input placeholder="index.ts" type="text" id="name" name="name" required>
      </div>

      <div>
        <textarea placeholder="// paste your code here" id="content" name="content" required></textarea>
      </div>

      <button type="submit">Create Snippet</button>
    </form>

    <script>
      document.getElementById('content').addEventListener('keydown', (e) => {
        if (e.metaKey && e.key === 'Enter' || e.ctrlKey && e.key === 'Enter') {
          e.preventDefault();
          document.getElementById('snippetForm').requestSubmit();
        }
      });
    </script>
  </body>
</html>
