<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#121113" />
    <link rel="stylesheet" href="/assets/darkmatter.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">

    <title>Sipp - Login</title>
    <meta name="description" content="Minimal Code Sharing">
  </head>
  <body>

    <header class="header">
      <a href="/" class="logo"><h1>SIPP</h1></a>
    </header>
    <main>
      {% if let Some(error) = error %}
        <p class="error">{{ error }}</p>
      {% endif %}

      <form method="POST" action="/admin/login{% if let Some(next) = next %}?next={{ next }}{% endif %}" class="form">
        <label for="api_key">api key</label>
        <input type="password" id="api_key" name="api_key" autofocus required>
        <button type="submit">login</button>
      </form>
    </main>
  </body>
</html>
