{{define "index.html"}}{{template "base.html" .}}{{end}}
{{define "title"}}{{.SiteName}}{{end}}
{{define "tabs"}}<a href="/" class="tab active">repositories</a>{{end}}
{{define "content"}}
{{if .Repos}}
<table class="repo-list">
    <thead>
        <tr>
            <th>Repository</th>
        </tr>
    </thead>
    <tbody>
        {{range .Repos}}
        <tr>
            <td><a href="/r/{{.Name}}">{{.Name}}</a></td>
        </tr>
        {{end}}
    </tbody>
</table>
{{else}}
<p class="empty">No repositories found.</p>
{{end}}
{{end}}
