# Bind address (use 0.0.0.0 in Docker)
HOST=127.0.0.1
# Listen port
PORT=4747
# Path to a directory containing bare git repos (softserve's <data>/repos works)
KEPLER_REPO_ROOT=./repos
# Site name shown in header and feed
KEPLER_SITE_NAME=kepler
